@charset "UTF-8";
/* Reset */
* {
  margin: 0;
  padding: 0;
}

/*HEADER*/
header {
  background-color: #FDF8F8;
  border-radius: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  box-shadow: 0 0 8px #222;
}
header .logo-cp {
  padding-right: 2%;
  width: 179px;
  height: 140px;
}
header .navbar {
  box-shadow: none;
  background-color: #FDF8F8;
}
header .navbar-botton {
  color: #FDF8F8;
  background-color: #FDF8F8;
}
header .navbar-header {
  background-color: #FDF8F8;
  margin: 0%;
}
header nav ul {
  list-style-type: none;
  display: flex;
}
header nav ul li {
  margin: 20px;
}
header nav ul li a {
  font-family: "Raleway", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: lighter;
  transition: 0.5s;
  text-shadow: 0px 4px 25px black;
}
header nav ul li a:hover {
  font-size: 20px;
}

/*MAIN INICIO*/
.inicio-container {
  display: block;
}
.inicio-container .imagen-responsive {
  display: none;
  border-radius: 7px;
}
.inicio-container .carousel {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}
.inicio-container .carousel .carousel-container {
  padding: 30px;
}
.inicio-container .carousel .carousel-container .custom-image-size {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
.inicio-container .carousel .carousel-container .carousel-item img {
  width: 100%;
  height: 425px;
  object-fit: cover;
}
.inicio-container .inicio-item-2 {
  background-color: rgb(235, 228, 228);
  color: rgb(0, 0, 0);
  font-family: "Raleway", sans-serif;
  text-align: start;
  font-size: 20px;
  border-radius: 5px;
  margin: 15px auto;
  max-width: 1102px;
  padding: 20px;
  box-shadow: 0 0 9px #222;
}
.inicio-container .inicio-item-2 .parra-1,
.inicio-container .inicio-item-2 .parra-2,
.inicio-container .inicio-item-2 .parra-3 {
  padding: 5px;
  margin: 13px auto;
  text-shadow: 0px 5px 15px black;
}
.inicio-container .inicio-item-2 a {
  text-decoration: none;
  color: #176ACA;
}
.inicio-container .inicio-item-2:hover {
  border: 2.7px solid #5C3E3E;
  border-radius: 7px;
}
.inicio-container .mapa {
  width: 100%;
  max-width: 499px;
  height: 237px;
  border-radius: 7px;
  margin: 40px auto;
  box-shadow: 0 0 9px #222;
}

/*MAIN MENU*/
.menu-container {
  font-family: "Raleway", sans-serif;
  text-shadow: 0px 5px 15px black;
}
.menu-container .title-food {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 200;
  color: black;
  padding: 20px;
  margin: 20px;
  text-shadow: 0px 5px 20px black;
}
.menu-container .food-list .food-item {
  display: flex;
  background-color: rgb(147, 130, 121);
  border-radius: 7px;
  margin: 24px;
  color: white;
  font-size: 20px;
  padding: -70px;
  box-shadow: 0 6px 9px #222;
  justify-content: center;
}
.menu-container .food-list .food-item:hover {
  border: 2.7px solid #5C3E3E;
  border-radius: 7px;
}
.menu-container .food-list .food-item img {
  display: flex;
  width: 160px;
  height: 136px;
  border-radius: 7px;
  justify-content: center;
  box-shadow: 0 0 7px #222;
  margin: 1.5%;
}
.menu-container .food-list .food-item .descripcion {
  font-style: italic;
  justify-content: flex-start;
  text-shadow: 0px 5px 15px black;
}
.menu-container .food-list .food-item .precio {
  font-size: 29px;
  padding: 30px;
}

.menu-cards {
  display: none;
}

/* MAIN SALAS */
.salas-titulo {
  font-family: "Raleway", sans-serif;
  margin-top: 21px;
  margin-left: 20px;
  font-style: italic;
  font-size: 18px;
  text-shadow: 0 4px 29px black;
}

.salas-container {
  background-color: rgb(235, 228, 228);
  border-radius: 7px;
  margin: 25px;
  font-family: "Raleway", sans-serif;
  box-shadow: 0 8px 20px #222;
}
.salas-container .sala-familia, .salas-container .sala-romance, .salas-container .sala-amigos {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(3, 100px);
  row-gap: 15px;
  column-gap: 15px;
}
.salas-container img {
  width: 250px;
  height: 270px;
  justify-content: center;
  margin: 15%;
  border-radius: 5px;
  grid-column: 1/2;
  grid-row: 1/5;
  box-shadow: 0 0 7px #222;
}
.salas-container h2 {
  color: #5C3E3E;
  grid-column: 2/5;
  grid-row: 2/3;
  text-align: center;
  padding-left: 10%;
  text-shadow: 0 4px 25px black;
}
.salas-container p {
  color: #6A3932;
  grid-column: 2/5;
  grid-row: 2/3;
  padding-left: 10%;
  text-align: center;
  padding-top: 50px;
  text-shadow: 0 4px 20px black;
}
.salas-container form {
  grid-column: 5/10;
  grid-row: 1/4;
  font-size: 17px;
}
.salas-container form .Cantidad-s, .salas-container form .Nombre-s, .salas-container form .Apellido-s, .salas-container form .Telefono-s {
  margin: 15px;
  border-radius: 5px;
  color: brown;
  justify-content: center;
}
.salas-container:hover {
  border: 1px solid #5C3E3E;
}

.sala-items {
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  margin-right: 19%;
}
.sala-items .sala-item-2, .sala-items .sala-item-1 {
  display: inline-block;
  margin-bottom: 1%;
  margin-left: 2%;
}
.sala-items .sala-item-2 .boton-reserva, .sala-items .sala-item-1 .boton-reserva {
  text-decoration: none;
  color: #6A3932;
}

/* MAIN TURISMO */
.turismo-conteiner {
  flex-wrap: wrap;
  display: flex;
}
.turismo-conteiner .turismo {
  background-color: rgb(192, 191, 191);
  font-family: "Raleway", sans-serif;
  border-radius: 7px;
  width: 20rem;
  height: 35rem;
  margin: 4%;
}
.turismo-conteiner .turismo .img-turismo {
  width: 100%;
  margin-right: 2rem;
  display: block;
  margin: auto;
  border-radius: 5px;
  box-shadow: 0 0 5px #222;
}
.turismo-conteiner .turismo .card-body .turismo-titulo {
  color: rgb(23, 106, 202);
  font-family: "Raleway", sans-serif;
  text-shadow: 0px 4px 25px black;
  font-size: 2rem;
  text-align: center;
}
.turismo-conteiner .turismo .card-body .card-text {
  color: rgb(39, 59, 82);
  text-align: center;
  text-shadow: 0px 4px 27px #222;
}
.turismo-conteiner .turismo .card-body .horarios {
  color: rgb(61, 87, 117);
  text-align: center;
  text-shadow: 0px 4px 27px black;
}
.turismo-conteiner .turismo .card-body .horarios:hover {
  text-decoration: underline rgb(23, 106, 202);
}
.turismo-conteiner .one-t:hover, .turismo-conteiner .three-t:hover, .turismo-conteiner .two-t:hover {
  border: 2px solid rgb(23, 106, 202);
}
.video-yt {
  width: 100%;
  max-width: 560px;
  margin: 0 auto;
  box-shadow: 0 0 7px #222;
  margin-bottom: 2rem;
  margin-top: 3rem;
  position: relative;
  padding-bottom: 24.7%;
}
.video-yt iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* MAIN NOSOTROS */
main .nosotros {
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  text-align: center;
  text-shadow: 0px 0px 39px #222;
}
main .nosotros .parrafo-one, main .nosotros .parrafo-three {
  margin: 5% 15% 5% 15%;
}
main .nosotros .parrafo-two {
  margin: 5% 15% 5% 15%;
}
main .nosotros .parrafo-two span {
  color: #176ACA;
  font-weight: 700;
}
main .boton {
  display: flex;
  justify-content: center;
  margin-bottom: 5%;
}
main .boton .boton-info {
  background-color: #222;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 1rem;
  font-family: "Raleway", sans-serif;
}
main .boton .boton-info:hover {
  background-color: #413c3c;
}
main .redes {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
main .redes img {
  margin: 15px;
  display: flex;
  justify-content: center;
  box-shadow: none;
  transition: 1s;
}
main .redes img:hover {
  transform: rotate(360deg);
}
main .fotos-p {
  display: flex;
  justify-content: center;
  border-radius: 7px;
}
main .fotos-p img {
  width: 500px;
  height: 250px;
  margin: 50px;
  display: flex;
  justify-content: center;
  margin: 40px;
  border-radius: 7px;
  box-shadow: 0 0 7px #222;
}

/*MAS INFORMACION*/
main .eslogan, main .opiniones {
  display: flex;
  justify-content: center;
  margin: 3rem;
  align-items: center;
}
main .eslogan .eslogan-titulo, main .opiniones .eslogan-titulo {
  font-family: "Raleway", sans-serif;
  font-style: italic;
  font-size: 3rem;
  font-weight: 200;
  color: black;
}
main .eslogan .img-eslogan, main .opiniones .img-eslogan {
  width: 10%;
  height: 10%;
}
main .tarjetas {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
main .tarjetas .tarjeta-noche, main .tarjetas .trajeta-pagos, main .tarjetas .tarjeta-restaurant {
  margin: 3%;
  width: 25rem;
  height: 29rem auto;
  box-shadow: 0 0 5px #222;
}
main .tarjetas .tarjeta-noche .card-img-top, main .tarjetas .trajeta-pagos .card-img-top, main .tarjetas .tarjeta-restaurant .card-img-top {
  width: 100%;
  height: 10rem;
}
main .tarjetas .tarjeta-noche .card-body .card-title, main .tarjetas .trajeta-pagos .card-body .card-title, main .tarjetas .trajeta-pagos .card-body .card-text, main .tarjetas .tarjeta-restaurant .card-body .card-title, main .tarjetas .tarjeta-noche .card-body .card-text, main .tarjetas .tarjeta-restaurant .card-body .card-text {
  margin: 2%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
main .tarjetas .tarjeta-restaurant {
  width: 18rem;
}
main .tarjetas .tarjeta-restaurant .card-img-top {
  width: 100%;
  height: 10rem;
}
main .tarjetas .tarjeta-restaurant .card-body .card-title, main .tarjetas .tarjeta-restaurant .card-body .card-text {
  margin: 2%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
main .tarjetas .tarjeta-restaurant .card-body .boton-a-menu {
  display: flex;
  justify-content: center;
  background-color: white;
  color: #222;
  border: 1px solid #222;
}
main .tarjetas .tarjeta-restaurant .card-body .boton-a-menu:hover {
  background-color: #dbd7d7;
}
main .tarjetas .trajeta-pagos .card-img-top {
  width: 100%;
  height: 40rem;
}
main .tarjetas .trajeta-pagos .card-title, main .tarjetas .trajeta-pagos .card-text, main .tarjetas .tarjeta-noche .card-body .trajeta-pagos .card-text, main .tarjetas .tarjeta-restaurant .card-body .trajeta-pagos .card-text, main .tarjetas .trajeta-pagos .card-body .card-text {
  margin: 6%;
  padding: 2%;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
@keyframes Aparecer {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
main .opniones-parte-1, main .opiniones-parte-2 {
  display: flex;
  justify-content: center;
  margin: 1%;
  flex-wrap: wrap;
}
main .opniones-parte-1 .opinion-gente, main .opiniones-parte-2 .opinion-gente {
  margin: 2%;
  max-width: 35rem;
  height: 17rem auto;
  animation-name: Aparecer;
  animation-iteration-count: initial;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-delay: 0.5s;
}
main .opniones-parte-1 .opinion-gente img, main .opiniones-parte-2 .opinion-gente img {
  border-radius: 70px;
  max-width: 100%;
}
/*MIXIN Y VARIABLE PARA LOS FOOTER*/
/* FOOTER 1 */
.footer-1 {
  background-color: rgb(175, 168, 163);
  color: white;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-shadow: 0 0 7px #222;
}
.footer-1 h1 {
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  margin: 10px;
  text-shadow: 0px 5px 7px black;
}
.footer-1 .p-container {
  width: 100%;
  box-sizing: border-box;
  padding-right: 20px;
  margin: 10px;
  text-shadow: 0px 5px 7px black;
}
.footer-1 a {
  display: inline-block;
}
.footer-1 img {
  width: 30px;
  margin-left: 10px;
}
.footer-1 .right-links {
  text-align: right;
  width: 100%;
}
.footer-1 .right-links a {
  margin-left: 10px;
}

/* FOOTER 2 */
.footer-2 {
  border-top: 1px solid gray;
  margin-top: 5%;
  align-items: end;
}
.footer-2 img {
  width: 120px;
  height: 100px;
}

/*FOOTER 3*/
.footer-3 {
  background-color: rgb(175, 168, 163);
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 0 7px #222;
}
.footer-3 a {
  display: flex;
  justify-content: start;
  margin: 10px;
}
.footer-3 img {
  width: 120px;
  height: 100px;
}

/*FOOTER 4*/
.footer-4 {
  border-top: 1px solid gray;
  text-align: center;
  padding: 15px;
}
.footer-4 p {
  font-family: Arial;
  font-size: 1.4rem;
  color: black;
}

/* MEDIA QUERY | DISEÑO RESPONSIVE*/
/*MOBILE*/
/* HEADER MEDIA-MOBILE */
@media only screen and (max-width: 1000px) {
  header {
    display: flex;
    justify-content: space-between;
  }
}
/* INICIO MEDIA-MOBILE*/
@media only screen and (min-width: 320px) and (max-width: 500px) {
  .inicio-container .imagen-responsive {
    display: flex;
    justify-content: center;
    width: 700px auto;
    height: 400px;
    padding: 15px;
  }
  .inicio-container .carousel-container {
    display: none;
  }
  .inicio-container .inicio-item-2 {
    margin: 15px;
  }
  .inicio-container .mapa {
    padding: 15px;
    box-shadow: none;
  }
}
/* SALAS MEDIA-MOBILE/TABLET */
@media only screen and (max-width: 1000px) {
  .salas-container .sala-amigos,
  .salas-container .sala-familia,
  .salas-container .sala-romance {
    display: block;
    padding: 1.5%;
  }
  .salas-container .sala-amigos h2,
  .salas-container .sala-familia h2,
  .salas-container .sala-romance h2 {
    padding: 0%;
  }
  .salas-container .sala-amigos p,
  .salas-container .sala-familia p,
  .salas-container .sala-romance p {
    justify-content: center;
    text-align: center;
    padding: 0%;
  }
  .salas-container .sala-amigos .img-salas,
  .salas-container .sala-familia .img-salas,
  .salas-container .sala-romance .img-salas {
    display: block;
    margin: 3% auto;
  }
  .salas-container .sala-items {
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-right: 2.5%;
    margin-bottom: 1%;
    padding: 2%;
  }
}
/*MAS INFORMACION MEDIA-MOBILE*/
@media only screen and (max-width: 767px) {
  main .eslogan .eslogan-titulo, main .opiniones .eslogan-titulo {
    font-size: 2rem;
  }
  main .eslogan .img-eslogan, main .opiniones .img-eslogan {
    width: 25%;
    height: 25%;
  }
  main .opniones-parte-1 .opinion-gente, main .opiniones-parte-2 .opinion-gente {
    text-align: center;
    margin: 1%;
  }
  main .opniones-parte-1 .opinion-gente img, main .opiniones-parte-2 .opinion-gente img {
    width: auto;
    height: 7rem;
    margin: 3%;
    align-items: center;
    border-radius: 5%;
  }
}
/*TABLET*/
/*INICIO MEDIA-TABLET*/
@media only screen and (min-width: 501px) and (max-width: 768px) {
  .inicio-container .inicio-item-2 {
    margin: 15px;
  }
  .inicio-container .mapa {
    padding: 15px;
    box-shadow: none;
  }
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .inicio-container .inicio-item-2 {
    margin: 15px;
  }
}
/*MENU MEDIA-TABLET*/
@media only screen and (max-width: 1350px) {
  .menu-container {
    display: none;
  }
  .menu-cards {
    display: block;
    justify-content: center;
    text-align: center;
    margin: 3%;
  }
  .menu-cards .title-food {
    font-family: "Raleway", sans-serif;
    font-size: 30px;
    font-weight: 200;
    color: black;
    padding: 20px;
    margin: 20px;
    text-shadow: 0px 5px 20px black;
  }
  .menu-cards .card {
    display: inline-block;
    justify-content: space-between;
    margin: 2%;
    border-radius: 5px;
    max-width: 540px;
  }
  .menu-cards .card .menu-cards-items .img-menu {
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 7px #222;
  }
  .menu-cards .card .menu-cards-items .card-body {
    background-color: rgb(147, 130, 121);
    display: block;
    justify-content: center;
    height: 185px;
    width: 100%;
    box-shadow: 0 0 7px #222;
  }
  .menu-cards .card .menu-cards-items .card-body .card-title, .menu-cards .card .menu-cards-items main .tarjetas .tarjeta-noche .card-body .card-text, main .tarjetas .tarjeta-noche .menu-cards .card .menu-cards-items .card-body .card-text, .menu-cards .card .menu-cards-items main .tarjetas .tarjeta-restaurant .card-body .card-text, main .tarjetas .tarjeta-restaurant .menu-cards .card .menu-cards-items .card-body .card-text, .menu-cards .card .menu-cards-items main .tarjetas .trajeta-pagos .card-body .card-text, main .tarjetas .trajeta-pagos .menu-cards .card .menu-cards-items .card-body .card-text, .menu-cards .card .menu-cards-items .card-body main .tarjetas .trajeta-pagos .card-text {
    color: white;
    text-shadow: 0px 5px 15px black;
  }
  .menu-cards .card .menu-cards-items .card-body .card-text {
    color: white;
    font-style: italic;
    text-shadow: 0px 5px 15px black;
  }
  .menu-cards .card:hover {
    border: 2.7px solid #5C3E3E;
    border-radius: 7px;
  }
}
/* TURIMOS MEDIA-TABLET*/
@media only screen and (max-width: 768px) {
  .video-yt {
    width: 100%;
    max-width: 560px;
    margin: 0 auto;
    box-shadow: 0 0 7px #222;
    margin-bottom: 2rem;
    margin-top: 3rem;
    position: relative;
    padding-bottom: 56.25%;
  }
}
/* NOSOTROS MEDIA-TABLET*/
@media only screen and (max-width: 1024px) {
  main .nosotros {
    margin: auto;
  }
  main .redes {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  main .fotos-p {
    display: none;
  }
}
/* MEDIA QUERY | DISEÑO RESPONSIVE*/
/*DESKTOP*/
/* HEADER MEDIA-DESKTOP/PC */
@media only screen and (min-width: 1500px) and (max-width: 1899px) {
  header .logo-cp {
    margin-left: auto;
    margin-right: 11%;
  }
}
@media only screen and (min-width: 1900px) and (max-width: 2100px) {
  header .logo-cp {
    margin-left: auto;
    margin-right: 16%;
    padding-right: 0%;
  }
}
@media only screen and (min-width: 2101px) and (max-width: 2509px) {
  header .logo-cp {
    margin-left: auto;
    margin-right: 21%;
    padding-right: 0%;
  }
}
@media only screen and (min-width: 2510px) {
  header .logo-cp {
    margin-left: auto;
    margin-right: 24%;
    padding-right: 0%;
  }
}
/*MENU MEDIA-DESKTOP/PC*/
@media only screen and (min-width: 2000px) {
  .menu-container .title-food {
    display: flex;
    justify-content: start;
    margin-left: 14%;
  }
  .menu-container .food-list {
    margin: 0 15% 0 15%;
  }
}
/* SALAS MEDIA-DESKTOP/LAPTOP */
@media only screen and (max-width: 1024px) {
  .sala-items {
    flex-direction: column;
    justify-content: flex-end;
    text-align: right;
    margin-right: 2.5%;
  }
}
@media only screen and (min-width: 1635px) and (max-width: 2159px) {
  .salas-titulo {
    display: flex;
    justify-content: start;
    margin-left: 12rem;
  }
  .salas-container {
    margin-left: 15rem;
    margin-right: 15rem;
  }
}
@media only screen and (min-width: 2160px) {
  .salas-titulo {
    display: flex;
    justify-content: start;
    margin-left: 27rem;
  }
  .salas-container {
    margin-left: 30rem;
    margin-right: 30rem;
  }
}
/*MIXIN*/
/*RESERVA*/
.header-para-reserva {
  background-color: white;
  box-shadow: none;
  justify-content: center;
}
.header-para-reserva .Titulo-reserva {
  margin-top: 30px;
  text-align: center;
}

.card-reserva {
  margin-bottom: 12%;
  margin-top: 60px;
  text-align: center;
}
.card-reserva .card-body {
  display: inline-block;
}
.card-reserva .card-body .card-text {
  display: block;
}
.card-reserva .card-body a {
  background-color: #af9a9a;
  color: white;
  border: #af9a9a;
}

/*# sourceMappingURL=style.css.map */
